// 主色
$main-green: #B7ECB2;
$main-black: #000;
$main-beige: #FFEDBF;
// 辅助色
$primary-button-color: #7FD177;
$minor-bg-color: #F3F2F2;
// Typography
$text-primary: #000;
$text-sub: #424242;
$text-minor: #555;
