@media (min-width: 768px) {
  .home-content-limit {
    height: 20%;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 66px;
    position: relative;
    // top: 36px;
    // left: 66px;

    .scroll-content {
      height: 100%;
      width: 300%;
      display: flex;
      position: relative;
      top: -56px;
      z-index: -1;

      .scroll-content-item {
        height: 100%;
        width: 100%;
        &:nth-child(2n) {
          background: grey;
        }
        &:nth-child(2n-1) {
          background-color: lightgrey;
        }
      }
    }
  }
}
