@media (min-width: 768px) {
  .home-blog-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    margin-left: 160px;

    .home-blog-left {
      width: 480px;
      margin-right: 160px;
      .home-blog-l-bg {
        width: 100%;
        height: calc(100% - 220px);
        margin: 130px 0 90px 0;
        background-color: #b7ecb2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 640px;
          height: 739px;
          background-color: #b7ecb2;
        }
      }
    }
    .home-blog-right {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 20px;
      .home-title {
        font-size: 70px;
        letter-spacing: 6px;
        font-weight: bold;
        margin-bottom: 50px;
        position: relative;
        .home-blog-tailling-s {
          color: #b7ecb2;
          position: absolute;
          bottom: -4px;
          right: 12px;
          z-index: -1;
        }
      }
      .home-blog-desc {
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & > p {
          font-size: 20px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
