@media (min-width: 768px) {
  .home-blog-wrapper {
    width: 1200px;
    height: 100%;
    display: flex;
    margin-left: 160px;
  
    .home-blog-left {
      width: 480px;
      margin-right: 160px;
      .home-blog-l-bg {
        width: 100%;
        height: calc(100% - 220px);
        margin: 130px 0 90px 0;
        background-color: #B7ECB2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 120%;
          margin-right: -80px;
        }
      }
    }
    .home-blog-right {
      width: 700px;
      // margin-left: 100px;
    }
  }
}
