@font-face {
  font-family: "PFSC";
  src: url("/assets/fonts/PingFangSC-Medium.woff2") format("woff2"),
       url("/assets/fonts/PingFang-SC.woff") format("woff");
}

@font-face {
  font-family: "MesloLGS";
  src: url("/assets/fonts/MesloLGS-Regular.ttf");
}

body {
  height: 9999px;
  font-family: "PFSC", "MesloLGS", "san-serif";
}

#root {
  height: 100%;
  width: 100%;
}
